@import 'normalize';
@import 'variables';
  
@mixin med () {
    @media (min-width: 500px) {
        @content;
    }
}  

@mixin large () {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin column ($num, $den) {
    width: $num/$den * 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;

    box-sizing: border-box;
}

header div {
    float: left;
    width: 20%;
    background-color: $default-Color;
} 


#list-view * {
    margin: 0;
}



#sev-radio * {
    float: left;
}

#sev {
    display: inline;
}

#t1 {
    display: inline;
}

.fields-block  {
    width: 100%;
    border: 2px solid black;
    height: 100%;
    overflow: auto;
}

.fields-block  * {
    float:left;
    width: 20%;
    padding: 0 auto;
    background-color: $second-Color;

    
}

.sev-tag {
    width: auto;
    @include large {
        width: 0;
        overflow: hidden;
    }

}

.title_spec {
    width: 50%;
    @include med {
        @include column (1, 2);
    }
    
    @include large {
        @include column (3, 20);
    }
}

.sev_spec {
    width: 50%;
    @include med {
        @include column (1, 5);
    }
    
    @include large {
        @include column (1, 20);
    }    
}

.state_spec {
    width: 100%;
    @include med {
        @include column (3, 10);
    }
    
    @include large {
        @include column (1, 10);
    }
}

.desc_spec {
    width: 100%;
    @include med {
        @include column (2, 2);
    }
    
    @include large {
        @include column (5, 20);
    }
}

.owner_spec {
    width: 100%;
    @include med {
        @include column (1, 3);
    }
    
    @include large {
        @include column (1, 10);
    }
}

.date_spec {
    width: 100%;
    @include med {
        @include column (1, 3);
    }
    
    @include large {
        @include column (2, 10);
    }
}


.release_spec {
    width: 100%;
    @include med {
        @include column (1, 3);
    }
    
    @include large {
        @include column (3, 20);
    }
}

header {
    opacity: 0;
    @include large {
        opacity: 1;
    }
}

footer {
    height: 100px;
    background-color: $default-Color;
}

#entry-panel {
    float: none;
    position: absolute;
    background-color: $color3;
    height: 500px;
    width: 400px;
    left: 20px;
    top: 50px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10%;

}

#entry-panel > div {
    padding: 0 10px;
}

#entry-panel input {
    display:block; 
    height: 2em;
}

#entry-panel > button {
    position: absolute;
    left: 85%;
    top: 90%;
}

textarea {
    width: 100%;
    height: 100px;
}

#toggle-box {
    position: fixed;
    top: 85%;
    left: 85%;
    width: 80px;
    height: 80px;
    background-color: rgb(10,10,10);
    border-radius: 50%;
    color: rgb(200,200,200);
}

.cf,
.cf:before {
    content: '';
    clear:both;
}